POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

POSTGRES_USER=app_user
POSTGRES_PASSWORD=strong_password
POSTGRES_DB=app_db

ELASTICSEARCH_HOST=http://localhost:9200
ELASTICSEARCH_INDEX=documents
